* {
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 24px;
}

header h1,
.form-campo label {
    color: rgb(97, 97, 89);
}

button {
    width: 105%;
    padding: 8px 0;
    border: none;
    background-color: burlywood;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
}

.form-campo input {
    width: 100%;
    padding: 8px;
}

form {
    max-width: 360px;
}